<div>
  <table class="table">
    <tr>
      <th>Hotel Name</th>
      <th>Price Per Night</th>
      <th>Number of Nights</th>
      <th>Total Price</th>
      <th>Edit</th>
      <th>Save</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let hotelBooking of hotelBookings">

          <td *ngIf="!hotelBooking.isEditable">{{ hotelBooking.hotelName }}</td>
          <td *ngIf="!hotelBooking.isEditable">{{ hotelBooking.pricePerNight }}</td>
          <td *ngIf="!hotelBooking.isEditable">{{ hotelBooking.nbOfNights }}</td>
          <td *ngIf="!hotelBooking.isEditable">{{ hotelBooking.totalPrice }}</td>

          <td *ngIf="hotelBooking.isEditable"><input type="text" [(ngModel)]="hotelBooking.hotelName"/></td>
          <td *ngIf="hotelBooking.isEditable"><input type="text" [(ngModel)]="hotelBooking.pricePerNight"/></td>
          <td *ngIf="hotelBooking.isEditable"><input type="text" [(ngModel)]="hotelBooking.nbOfNights"/></td>
          <td *ngIf="hotelBooking.isEditable">{{ hotelBooking.totalPrice }}</td>

          <td *ngIf="!hotelBooking.isEditable"><button (click)="hotelBooking.isEditable=!hotelBooking.isEditable" class="btn btn-info">Edit</button></td>
          <td *ngIf="hotelBooking.isEditable"><button (click)="hotelBooking.isEditable=!hotelBooking.isEditable;fetchData()" class="btn btn-info">Back</button></td>
          <td><button [disabled]="!hotelBooking.isEditable" (click)="onEdit(hotelBooking)" class="btn btn-info">Save</button></td>
          <td><button (click)="onDelete(hotelBooking)" class="btn btn-danger">x</button></td>
    </tr>
  </table>
</div>
<hr>
<form class="form" (ngSubmit)="onSubmit()">
    <input type="text" name="hotelName" [(ngModel)]="hotelName" placeholder="hotel name">
    <input type="text" name="pricePerNight" [(ngModel)]="pricePerNight" placeholder="price per night">
    <input type="text" name="nbOfNights" [(ngModel)]="nbOfNights" placeholder="num of nights">
    <input type="submit" value="Add" class="btn btn-info">
</form>
